
/* VIEW INDEX USER */

.no_board{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-top: 100px;
}

.no_board > div{
    width: 500px;
    height: 250px;
    border: solid 2px black;
    background: grey;
    border-radius: 5px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

.no_board > div > img{
    width: 100px;
    margin: 0 25px 0 0;
}

.titre_boards{
    margin-top: 25px;
    text-align: center;
    font-size: 2em;
    font-style: italic;
}

.contain_table{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.table_boards{
    margin-top: 50px;
    width: 80%;
    border-collapse: collapse;
}

.table_boards tr td{
    width: 25%;
    height: 50px;
    border: solid 2px black;
    text-align: center;
}

.titre_column{
    font-size: 1.2em;
    font-weight: bold;
}

.contain_link_table{
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.contain_link_table > a{
    width: 80px;
    height: 30px;
    border: solid 2px black;
    background: grey;
    color: white;
    border-radius: 2px;
    text-decoration: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.contain_link_table > button{
    width: 85px;
    height: 35px;
    font-size: .8em;
    border: solid 2px black;
    background: orange;
    color: grey;
    font-weight: bold;
    border-radius: 2px;
}

.contain_link_table > button:hover{
    cursor: pointer;
}

.link_page{
    margin: 20px 0 0 10%;
    font-weight: bold;
    font-size: 1.2em;
}

.link_page > a{
    text-decoration: none;
    border: solid 2px black;
    padding: 5px 15px;
    margin-left: 15px;
    color: white;
    background: black;
}

.link_page2{
    margin: 40px 0 0 50px;
    font-weight: bold;
    font-size: 1.2em;
}

.link_page2 > a{
    text-decoration: none;
    border: solid 2px black;
    padding: 5px 15px;
    margin-left: 15px;
    color: white;
    background: black;
}

/* VIEW CREATE USER */

.add_board{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-top: 100px;
}

.add_board > div{
    width: 500px;
    height: 250px;
    border: solid 2px black;
    background: grey;
    border-radius: 5px;
    font-size: 1.5em;
    text-align: center;
}

.titre_board{
    margin-top: 20px;
}

.component_margin{
    margin-top: 25px;
}

.button_create{
    background: white;
    width: 60px;
    height: 30px;
}

.button_create:hover{
    cursor: pointer;
}

/* VIEW EDIT USER */



/* VIEW SHOW USER */

.descript_board{
    margin: 20px 0 0 50px;
}

.table_show{
    width: 50%;
    border-collapse: collapse;
    margin: 40px 0 0 50px;
}

.table_show tr td{
    width: 50%;
    height: 50px;
    border: solid 2px black;
    text-align: center;
}

.add_user{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 40px 0 0 50px;
}

.add_user > form{
    margin: 0;
}

.add_user_margin{
    margin-right: 20px;
}

#user_id{
    height: 30px;
}

.add_button{
    width: 80px;
    height: 30px;
    border: solid 2px black;
    background: grey;
    color: white;
    border-radius: 2px;
}

.add_button:hover{
    cursor: pointer;
}

/* VIEW CREATE TASK */

.add_task{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-top: 100px;
}

.add_task > div{
    width: 500px;
    height: 325px;
    border: solid 2px black;
    background: grey;
    border-radius: 5px;
    font-size: 1.5em;
    text-align: center;
}

/* VIEW UPDATE TASK */

.update_task{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-top: 100px;
}

.update_task > div{
    width: 500px;
    height: 375px;
    border: solid 2px black;
    background: grey;
    border-radius: 5px;
    font-size: 1.5em;
    text-align: center;
}

/* VIEW CREATE COM */

.add_com{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-top: 100px;
}

.add_com > div{
    width: 500px;
    height: 175px;
    border: solid 2px black;
    background: grey;
    border-radius: 5px;
    font-size: 1.5em;
    text-align: center;
}

